.main{
    @include flexCenter(row);
    gap: 50px;
    width: 50%;
    margin: 0 auto;  
    
    #{&}__paragraph1 {       
        font-weight: weight(regular);
        width: 50% - 10%;

        &:hover{
            color: pink;
        }

        em {
            font-weight: weight(bold);
        }
    }

    #{&}__paragraph2 {
        @extend .main__paragraph1;

        &:hover{
            color: $accent-color;
        }

    }

    @include mobile-width{
        @include flexCenter(column);
    }
}
