mixin social-icons
    .social-icons
        a.social-icons__link(href="#!")
            i.fab.fa-twitter.fa-2x
        a.social-icons__link(href="#!")
            i.fab.fa-facebook.fa-2x
        a.social-icons__link(href="#!")
            i.fab.fa-github.fa-2x
        a.social-icons__link(href="#!")
            i.fab.fa-linkedin.fa-2x 