doctype html
html(lang="en")
    block head    
    
    body.light
        block header            
        block content        
        block scripts 
            script(src='js/main.min.js')
            script(src="https://kit.fontawesome.com/e2831e25cd.js" crossorigin="anonymous")