doctype html
html(lang="en")
    block head
        head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible" content="ie=edge")
            link(rel="stylesheet" href="css/style.min.css")
            title Gulp sandbox
    
    body
        block header
            include header
        block content
        block footer
            include footer
        block scripts 
            script(src='js/main.min.js')