*, 
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{    
    margin: 0;
    color: $text-color; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    background-color: $primary-color;    
}

.light{
    @include theme($light-theme: false);
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;    
}

