extends common/template

block content
    main
        section.home
            h2 Hi, my name is  
            h1.home__name Mike 
                span.home__name--last Smith     
            h2 Web developer, designer & programmer

            .social-icons
                a.social-icons__link(href="#!")
                    i.fab.fa-twitter.fa-2x
                a.social-icons__link(href="#!")
                    i.fab.fa-facebook.fa-2x
                a.social-icons__link(href="#!")
                    i.fab.fa-github.fa-2x
                a.social-icons__link(href="#!")
                    i.fab.fa-linkedin.fa-2x

        