extends common/template

block content
    main
        div.main            
            p.main__paragraph1 Lorem ipsum dolor sit amet
            p.main__paragraph2 
                em Lorem ipsum dolor sit amet            
        