extends common/template

include common/head
include common/social-icons

block head
    +head('Mike Smith Portfolio')

block content
    main
        section.home
            h2 Hi, my name is  
            h1.home__name Mike 
                span.home__name--last Smith     
            h2 Web developer, designer & programmer
            +social-icons

            

        