extends common/template

include common/head
include common/social-icons

block head
    +head('Mike Smith Projects')
block header
    header
        .menu-btn  
            span.menu-btn__burger
        nav.nav
            ul.menu-nav
                li.menu-nav__item
                    a.menu-nav__link(href="index.html") Home
                li.menu-nav__item
                    a.menu-nav__link(href="about.html") About me
                li.menu-nav__item.active
                    a.menu-nav__link(href="projects.html") Projects
                li.menu-nav__item
                    a.menu-nav__link(href="contact.html") Contact me
block content
    main
        section.projects
            .projects__bio-image
                h2.text-secondary My Projects
            ul.projects__items
                li.projects__item
                    img(src="img/project-1.jpg", alt="Project 1")
                    .projects__btns
                        a.projects__btn(href="#!")
                            i.fas.fa-eye Preview
                        a.projects__btn(href="#!")
                            i.fab.fa-github Github
                li.projects__item
                    img(src="img/project-1.jpg", alt="Project 2")
                    .projects__btns
                        a.projects__btn(href="#!")
                            i.fas.fa-eye Preview
                        a.projects__btn(href="#!")
                           i.fab.fa-github Github
                li.projects__item
                    img(src="img/project-1.jpg", alt="Project 3")
                    .projects__btns
                        a.projects__btn(href="#!")
                            i.fas.fa-eye Preview
                        a.projects__btn(href="#!")
                            i.fab.fa-github Github
                li.projects__item
                    img(src="img/project-1.jpg", alt="Project 4")
                    .projects__btns
                        a.projects__btn(href="#!")
                            i.fas.fa-eye Preview
                        a.projects__btn(href="#!")
                            i.fab.fa-github Github
                li.projects__item
                    img(src="img/project-1.jpg", alt="Project 5")
                    .projects__btns
                        a.projects__btn(href="#!")
                            i.fas.fa-eye Preview
                        a.projects__btn(href="#!")
                            i.fab.fa-github Github
            +social-icons
            include common/footer
