// Media width
$mobileMediaWidth: 320px;
$tabletMediaWidth: 768px;
$tabletHorizontalMediaWidth: 1024px;
$laptopMediaWidth: 1366px;

$mobile-width: 720px;


//Colors
$primary-color: #272727;
$accent-color: #ff652f;
$text-color: #fff;


//Font weights map
$font-weights: (    
    "regular": 400,
    "medium": 500,
    "bold": 700
);